/* general */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif;
    background-color: #FFFFFE;
}

/* components */
.container{
    max-width: 1200px;
    width: 60%;
    margin: 10px auto;
    padding: 20px;
}

.container-card{
    max-width: 1200px;
    width: 60%;
    margin: auto;
}

/* utility */
.debug{
    background-color: rgba(8, 180, 8, 0.50);
    border: 1px solid black;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

/* main */

/* container */
main h1{
    text-align: center;
    padding: 20px;
    color: #E53170;
    font-size: 2.5rem;
}

main p{
    text-align: center;
    color: #0F0E17;
    font-size: 18px;
    margin-top: 30px;
}
/* end container */

/* conteiner-box */
.row .card{
    float: left;
    width: calc(100% / 3 - 40px);
    height: 100px;
    margin: 20px;
    background-color: #0F0E17;
    color: #FFFFFE;
}

.row .card img{
    height: 100px;
}


/* end conteiner-box */