/* general */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif;
    background-color: #FFFFFE;
}

/* components */
.container{
    max-width: 1200px;
    width: 60%;
    margin: 10px auto;
    padding: 20px 0;
}

/* utility */
.debug{
    background-color: rgba(8, 180, 8, 0.50);
    border: 1px solid black;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

/* main */

/* container */
main h1{
    text-align: center;
    padding: 20px;
    color: #E53170;
    font-size: 2.5rem;
}

main p{
    text-align: center;
    color: #0F0E17;
    font-size: 18px;
    margin-top: 30px;
}
/* end container */

/* conteiner-box */
.row{
    max-width: 1200px;
    width: 60%;
    margin: auto;
}

.row .card{
    float: left;
    width: calc(100% / 3 - 30px);
    height: 100px;
    margin: 25px 15px;
    background-color: #0F0E17;
    color: #FFFFFE;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-width: 320px;
}

.row .card img{
    height: 100px;
    float: left;
}

.row .card ul{
    float: left;
    height: 100%;
    list-style-type: none;
    padding: 10px;
}

.row .card ul li{
    padding: 3px;
}

.row .card ul h3{
    text-transform: uppercase;
}

.mail{
    color: #68CBF2;
    text-decoration: none;
}
/* end conteiner-box */